<!DOCTYPE html>
<html lang="en" xmlns:background="http://www.w3.org/1999/xhtml">
<head>
    <!--<meta http-equiv="Content-Type" content="layout.html;charset=UTF-8">-->
    <meta charset="UTF-8">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/b.js"></script>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/a.css">
    <title>cz1996</title>
</head>
<body>
    <!--<block name="menu"></block>-->
    <!--<div class="div1" style="width: 200px;height: 100px;background-color:#f0c040;">-->
    <!--<div class="div1>-->
        <!--<h2>News headline 1</h2>-->
        <!--<p>some text. some text. some text...</p>-->
    <!--</div>-->
    <div class="dv11">
        <h1>dasfasfsafasfdsadsda</h1>
        <p>fafdsfsdfd</p>
    </div>
    <h5>dghagjadkadkjadkjakdnaskda<br/>
    fnsajkfkanjasn<br/>
    fashsah</h5>
    <button id = "z" type = "button" onclick="dianwo()">Click Me</button>
    <h5 id="cz"></h5>
    <div style="width: 100%;height: 100px;background-image:url(http://www.dabaoku.com/sucai/shejilei/bj/0505.jpg);">
        <p>cz</p>
        <button type="button" onclick="informationOnLoad()">cz111111</button>
    </div>
    <br/>
    <a href="welcomePage.html">cz1996</a>
    <br/>
    <!--<div style="background-color: cyan;width: 100%;height: 200px;">-->
        <!--<button type="button" onclick="showDiv()">121111111</button>-->
    <!--</div>-->
    <!--<div id="Idiv" style="display:none; position:absolute; z-index:1000; background:#67a3d9;">-->
        <!--<div id="mou_head" style="width:800px; height:600px;z-index:1001; position:absolute;">这个是用来实现拖层</div>-->
        <!--<input type="button" value="关闭" onclick="closeDiv();" />-->
    <!--</div>-->
</body>
</html>