<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/welcome.js"></script>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/index.css">
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/welcome.css">
    <title>cz1996</title>
</head>
<body>
    <!--<form style="margin-top:500px;margin-left:600px;">-->
    <div id="header">
        <div>
            <h1  style="margin-top: 50px;">321 BK House</h1>
        </div>
        <div style="float: right;margin-top: 28px;">
            <h6>welcome to <b>321 BK House</b></h6>
        </div>
    </div>
    <!--<span style="font-size:50px;text-align:center;" class="span_welcome"><b style="text-align:center;">欢迎进入重庆大学图书交易系统</b></span>-->
    <form class="form_welcome" align="center">
    <b>用户：</b>
    <input type="text" name="user" class="input_welcome" placeholder="请输入用户名" style="margin-left: 50px;"><br/>
    <b>密码：</b>
    <input type="password" name="password" id = "pw1" class="output_welcome" placeholder="请输入密码" style="margin-left: 50px;"><br/>
    <b>请确认密码：</b>
    <input type="password" name="password" id = "pw2" class="output_welcome" placeholder="请确认密码" onblur="check()"><br/>
        <span id="waring"></span><br/>
        <input type="button" id="ipt" class = "button_welcome" method="post" action="zhuce-update" value="注册" style="margin-left:0px;">
    </form>
    <br/>
    <!--<button type="button" align="center" class="button_welcome" onclick="click_welcome()"><b>注册</b></button>-->
    <!--<input type="button" name="btn" value="跳转" onclick="javascript:location.href='../Customer/test1.html'" class="button_welcome">-->
    <div id="footer" style="margin-top: 200px;">
        Copyright 321BKHouse.co 2016
    </div>
</body>
</html>