<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Information</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
</head>
<body>
    <div id="header">
        <div>
            <h1  style="margin-top: 50px;">321 BK House</h1>
        </div>
    </div>

    <div id="info-divone"></div>
    <div id="info-divtwo">
        <div id="info-divtwo-one">
            <img src="{:C('PCZ_ROOT')}/cc1.jpg" id="divtwo-one-img">
        </div>
        <div id="info-divtwo-two">
            <div class="div-div"></div>
            <table id="divtwo-table">
                <tr>
                    <td>
                        <b>书名:</b><input type="text" name="cz" value="1996" class="ipt"/><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>作者:</b><input type="text" name="cz" value="199dsffsd6" class="ipt"/><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>出版日期:</b><input type="text" name="cz" value="1996" class="ipt"/><br/><br/>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <b style="margin-left:5%;">详细信息：</b><br/>
            <br/><br/>
            <textarea rows="10" cols="100%" style="margin-left: 10%"></textarea>
        </div>
    </div>
    <div id="info-divthree"></div>
    <div id="footer">
        Copyright 321BKHouse.co 2016
    </div>
</body>
</html>