<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的书店</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/info.js"></script>
</head>
<body onload="display()">
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="">导航栏</a>
                <ul>
                    <li> <a href="indexPage"> 主页 </a> </li>
                    <li> <a href="myInfoPage"> 我的资料 </a> </li>
                    {$another}
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
<div id="info-head">
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c2.png" class="head-img1" style="margin-left: 10%;"/></a>-->
    <!--<a href="https://www.baidu.com">返回上一级</a>-->
    <!--<a href="https://www.baidu.com" style="float: right;margin-right: 13%;">返回主页</a>-->
    <!--<b style="float: right;margin-right: 3px;"><<</b>-->
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c1.png" class="head-img1" style="float:right;margin-right: 3px;"/></a>-->
</div>
<div id="info-divone"></div>
<div id="info-divtwo1">
    <div id="bookone" style="background-image: url({:C('PCZ_ROOT')}/cc4.jpg);background-size: 100% 100%;">
        <div class="sizediv">
            {$bookshopname}
        </div>
    </div>
    <div id="booktwo">
        <div id="booktwo-one">
            <b style="font-size: 25px;">寄售的书籍</b>
        </div>
        <div id="booktwo-two" name="bookdisplay">
                <volist name="list" id="vo"  empty="暂时没有书籍寄售">
                    <a href={$vo.link}>
                        <div class="usdiv" name="tableform" id="tableone" onclick="click()">
                            <div class="divone">{$vo.name}</div>
                            <div class="divone" style=" margin-left: 7%;">{$vo.author}</div>
                            <div class="divone">{$vo.price}</div>
                        </div>
                    </a>
                </volist>
        </div>
    </div>
    <div>
        <if condition="$flag eq 1">
            <input type="submit" id="iptt1" class = "info-welcome" value="添加书籍" style="margin-left:40%;cursor:pointer;float: left;margin-top: 2%">
        </if>
    </div>
</div>
<div id="info-divthree"></div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>