<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Information</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/info.js"></script>
</head>
<body>
    <div id="header">
        <div>
            <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
        </div>
        <nav>
            <ul>
                <li> <a href="">导航栏</a>
                    <ul>
                        <li> <a href="/BookTradingSystem/Home/Information/indexPage"> 主页 </a> </li>
                        <li> <a href="/BookTradingSystem/Home/Information/myInfoPage"> 我的资料 </a> </li>
                        <li> <a href="/BookTradingSystem/Home/Information/bookshopInfoPage"> 我的书屋 </a> </li>
                        <li> <a href="/BookTradingSystem/Home/Information/orderInfoPage"> 我的订单 </a> </li>
                        <li> <a href="/BookTradingSystem/Home/Information/contactusInfoPage"> 联系我们 </a> </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
    <div id="info-head">
        <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c2.png" class="head-img1" style="margin-left: 10%;"/></a>-->
        <!--<a href="https://www.baidu.com">返回上一级</a>-->
        <!--<a href="https://www.baidu.com" style="float: right;margin-right: 13%;">返回主页</a>-->
        <!--<b style="float: right;margin-right: 3px;"><<</b>-->
        <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c1.png" class="head-img1" style="float:right;margin-right: 3px;"/></a>-->
    </div>
    <div id="info-divone"></div>
    <form id="info-divtwo" method="post" >
        <div id="info-divtwo-one">
            <img src="{:C('PCZ_ROOT')}/cc1.jpg" id="divtwo-one-img">
        </div>
        <div id="info-divtwo-two">
            <div class="div-div"></div>
            <table id="divtwo-table">
                <tr>
                    <td>

                        <b>书名:</b><input type="text" name="name" class="ipt" readonly="1" value={$book.name}><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>作者:</b><input type="text" name="author" class="ipt" readonly="1" value={$book.author}><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>出版社:</b><input type="text" name="concern" class="ipt" readonly="1" value={$book.concern}><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>出版日期:</b><input type="text" name="date" class="ipt" readonly="1" value={$book.date}><br/>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div style="margin-left: 20%;font-weight:bold;font-size: 25px;">价格：<input type="text" id="butto" name="price"  class="iptcc" readonly="1" value={$book.price}>
                书店：<div class="shudian">
                        <a href={$link} style="margin-top: 2%;float: left;margin-left: 10%">{$shopname}</a>
                </div>
            </div>
            <div id="butt"></div>
        </div>
        <div>
            <b style="margin-left:5%;">详细信息：</b><br/>
            <br/>
            <textarea rows="7" cols="100%" style="margin-left: 10%" readonly="1">{$book.mark}</textarea>
        </div>
        <br/>
        <input type="submit" id="ipt1" formaction={$toAdd} class = "button_welcome1" value="加入购物车" style="margin-left:30%;float: left;background-color: #2F5BB7;cursor:pointer">
        <input type="submit" id="ipt2" formaction="{$buy}" class = "button_welcome1" value="点击购买" style="margin-left:2%;float: left;background-color: #95C8F1; cursor:pointer">
    </form>
    <div id="info-divthree"></div>
    <div id="footer">
        <div>
            <br/>
        </div>
        Copyright 321BKHouse.co 2016
    </div>
</body>
</html>