<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的书店</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/info.js"></script>
</head>
<body onload="display()">
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="#">导航栏</a>
                <ul>
                    <li> <a href="indexPage"> 主页 </a> </li>
                    <li> <a href="myInfoPage"> 我的资料 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
<div id="info-head">
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c2.png" class="head-img1" style="margin-left: 10%;"/></a>-->
    <!--<a href="https://www.baidu.com">返回上一级</a>-->
    <!--<a href="https://www.baidu.com" style="float: right;margin-right: 13%;">返回主页</a>-->
    <!--<b style="float: right;margin-right: 3px;"><<</b>-->
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c1.png" class="head-img1" style="float:right;margin-right: 3px;"/></a>-->
</div>
<div id="info-divone"></div>
<div id="info-divtwo">
    <div id="bookone" style="background-image: url({:C('PCZ_ROOT')}/cc4.jpg);background-size: 100% 100%;">
        <div class="sizediv">
            书屋
        </div>
    </div>
    <div id="booktwo">
        <div id="booktwo-one">
            <b style="font-size: 25px;">寄售的书籍</b>
        </div>
        <div id="booktwo-two" name="bookdisplay">
            <div class="bookio">
                <table border="1">
                    <tr>
                        <td>书名</td>
                        <td>钢铁是怎样炼成的</td>
                        <td>作者</td>
                        <td>啥子斯基</td>
                    </tr>
                    <tr>
                        <td>Second</td>
                        <td>Row</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="info-divthree"></div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>