<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的资料</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
</head>
<body>
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="#">导航栏</a>
                <ul>
                    <li> <a href="indexPage"> 主页 </a> </li>
                    <li> <a href="bookshopInfoPage"> 我的书屋 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
<div id="info-head">
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c2.png" class="head-img1" style="margin-left: 10%;"/></a>-->
    <!--<a href="https://www.baidu.com">返回上一级</a>-->
    <!--<a href="https://www.baidu.com" style="float: right;margin-right: 13%;">返回主页</a>-->
    <!--<b style="float: right;margin-right: 3px;"><<</b>-->
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c1.png" class="head-img1" style="float:right;margin-right: 3px;"/></a>-->
</div>
<div id="info-divone"></div>
<div id="info-divtwo">
    <form id = "info-form" name="improve-form" action="improveInfoPage" method="post">
        <ol>
            <li class="info-li">姓名：<input type="text" name="name" value={$data.name} class="ipt" readonly="1"></li>
            <br/>
            <li class="info-li">电话：<input type="text" name="tel" value={$data.tel} class="ipt" readonly="1"></li>
            <br/>
            <li class="info-li">邮箱：<input type="email" name="email" value={$data.email} class="ipt" readonly="1"></li>
            <br/>
            <li class="info-li">账户余额：<input type="text" name="money" value={$data.money} class="ipt" readonly="1"></li>
            <br/>
            <li class="info-li">邮编：<input type="text" name="zipcode" value={$data.zipcode} class="ipt" readonly="1"></li>
            <li class="info-li"><br/>地址：<br/><textarea rows="5" cols="70" name="address" readonly="1">{$data.address} </textarea></li>
        </ol>
        <input type="submit" id="iptt" class = "info-welcome" value="点击修改资料" style="margin-left:40%;">
    </form>
</div>
<div id="info-divthree"></div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>