<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/info.js"></script>
</head>
<body onload="duiqi()">
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="#">导航栏</a>
                <ul>
                    <li> <a href="indexPage"> 主页 </a> </li>
                    <li> <a href={$link}> 我的书店 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
<div id="info-divone"></div>
<div id="info-divtwo1">
    <div id="booktwo-two" name="bookdisplay">
        <volist name="list" id="vo"  empty="暂时没有书籍寄售">
            <a href="#">
                <div class="usdiv" name="tableform" id="tableone" onclick="click()">
                    <div class="divone">{$vo.username}</div>
                    <div class="divone" style=" margin-left: 7%;">{$vo.bookname}</div>
                    <div class="divone">{$vo.totalmoney}</div>
                </div>
            </a>
        </volist>
    </div>
</div>
<div id="info-divthree"></div>
<div id="footer">
<div>
    <br/>
</div>
Copyright 321BKHouse.co 2016
</div>
</body>
</html>