<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值页面</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
</head>
<body>
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="#">导航栏</a>
                <ul>
                    <li> <a href="indexPage"> 主页 </a> </li>
                    <li> <a href="myInfoPage"> 我的资料 </a> </li>
                    <li> <a href="bookshopInfoPage"> 我的书屋 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div id="info-divone"></div>
<div id="info-divtwo">
    <form class="recharge" method="post" action="">
        <ol>
            <li class="info-li">
                充值金额：<input type="text" name="search" class="search3">
            </li>
            <li class="info-li">
                <br/>
                <input type="submit" id="iptt" class = "info-welcome" value="充值" style="margin-left:40%;">
            </li>
        </ol>
    </form>
</div>
<div id="info-divthree"></div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>