<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索页面</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
</head>
<body>
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="#">导航栏</a>
                <ul>
                    <li> <a href="indexPage"> 主页 </a> </li>
                    <li> <a href="myInfoPage"> 我的资料 </a> </li>
                    <li> <a href="bookshopInfoPage"> 我的书屋 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div id="info-divone"></div>
<div id="info-divtwo">
    <div style="margin-top: 5%">
        <form action="" method="post">
            <input type="text" name="search" class="search1">
            <input type="submit" name="searchup" class="search2" value="搜索" formaction="searchInfoPage">
        </form>
    </div>
    <div id="booktwo-two" name="bookdisplay" style="margin-top: 5%;text-align: center">
        <volist name="list" id="vo"  empty="没有搜索到对应书籍">
            <a href={$vo.link}>
                <div class="usdiv" name="tableform" id="tableone" onclick="click()">
                    <div class="divone">{$vo.name}</div>
                    <div class="divone" style=" margin-left: 7%;">{$vo.author}</div>
                    <div class="divone">{$vo.price}</div>
                    <div class="divone">{$vo.shopname}</div>
                </div>
            </a>
        </volist>
    </div>
</div>
<div id="info-divthree"></div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>