<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/info.js"></script>
</head>
<body>
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="">导航栏</a>
                <ul>
                    <li> <a href="myInfoPage"> 我的资料 </a> </li>
                    <li> <a href={$link}> 我的书店 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>


</div>
<div id="info-head">
</div>
<div id="info-divone"></div>
<div id="info-divtwo1">
    <div style="height: 253px;width: 100%;background-image: url({:C('PCZ_ROOT')}/cc4.jpg);background-size: 100% 100%;position:relative;">
        <div id="little">
            <div style="width: 100%;height: 100%;text-align: center;font-size: 65px;">欢迎来到321 BK House</div>
        </div>
    </div>
    <div style="margin-top: 5%">
        <form action="" method="post">
            <input type="text" name="search" class="search1">
            <input type="submit" name="searchup" class="search2" value="搜索">
        </form>
    </div>
    <!--<div class="shudian">-->
        <!--<a href="bookInfoPage/shopitemId/1">钢铁是怎样炼成的</a>-->
    <!--</div>-->
    <div id="booktwo-two" name="bookdisplay" style="margin-top: 5%">
        <volist name="list" id="vo"  empty="暂时没有书籍推荐">
            <a href={$vo.link}>
                <div class="usdiv" name="tableform" id="tableone" onclick="click()">
                    <div class="divone">{$vo.name}</div>
                    <div class="divone" style=" margin-left: 7%;">{$vo.author}</div>
                    <div class="divone">{$vo.price}</div>
                </div>
            </a>
        </volist>
    </div>
</div>
<div id="floatTab">
    <div style="margin-top: 80%;"></div>
    <h4 style="font-family: 等线;">推荐书店：</h4>
    <ul>
        <li class="li1"><a class="advice" href="#">cz1996</a></li>
        <li class="li1"><a class="advice" href="#">cz1996</a></li>
        <li class="li1"><a class="advice" href="#">cz1996</a></li>
        <li class="li1"><a class="advice" href="#">cz1996</a></li>
        <li class="li1"><a class="advice" href="#">cz1996</a></li>
        <li class="li1"><a class="advice" href="#">cz1996</a></li>
    </ul>
</div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>