<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
</head>
<body>
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="">导航栏</a>
                <ul>
                    <li> <a href="myInfoPage"> 我的资料 </a> </li>
                    <li> <a href="bookshopInfoPage"> 我的书店 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
<div id="info-head">
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c2.png" class="head-img1" style="margin-left: 10%;"/></a>-->
    <!--<a href="https://www.baidu.com">返回上一级</a>-->
    <!--<a href="https://www.baidu.com" style="float: right;margin-right: 13%;">返回主页</a>-->
    <!--<b style="float: right;margin-right: 3px;"><<</b>-->
    <!--<a href="https://www.baidu.com"><img src="{:C('PCZ_ROOT')}/c1.png" class="head-img1" style="float:right;margin-right: 3px;"/></a>-->
</div>
<div id="info-divone"></div>
<div id="info-divtwo">
    <div class="shudian">
        <a href="">钢铁是怎样炼成的</a>
    </div>
</div>
<div id="info-divthree"></div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>