<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/info.css">
</head>
<body>
<div id="header">
    <div>
        <div  style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <nav>
        <ul>
            <li> <a href="">导航栏</a>
                <ul>
                    <li> <a href="myInfoPage"> 我的资料 </a> </li>
                    <li> <a href="bookshopInfoPage"> 我的书店 </a> </li>
                    <li> <a href="orderInfoPage"> 我的订单 </a> </li>
                    <li> <a href="contactusInfoPage"> 联系我们 </a> </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
<div id="info-head">
</div>
<div id="info-divone"></div>
<div id="info-divtwo">
    <div class="shudian">
        <a href="bookInfoPage/shopitemId/1">钢铁是怎样炼成的</a>
    </div>
</div>
<div id="info-divthree"></div>
<div id="footer">
    <div>
        <br/>
    </div>
    Copyright 321BKHouse.co 2016
</div>
</body>
</html>