<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/test.css">

    <link rel="stylesheet" href="{:C('APP_ROOT')}/reset.css" type="text/css">

    <link rel="stylesheet" href="{:C('APP_ROOT')}/style.css" media="screen" type="text/css">
    <title>我的信息主页</title>
</head>
<body>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <div class = info1>
        <div align="center" class = "info1-1">
            <img src="https://gss0.bdstatic.com/70cFsjip0QIZ8tyhnq/img/iknow/logo-iknowxjd.gif">
        </div>
        <div stye="margin-right:100px;">
        </div>
        <dropdown>
            <input id="toggle1" type="checkbox">
            <label for="toggle1" class="animate">Editor<i class="fa fa-list float-right"></i></label>
            <ul class="animate">
                <li class="animate">Source<i class="fa fa-code float-right"></i></li>
                <li class="animate">Fullpage<i class="fa fa-arrows-alt float-right"></i></li>
                <li class="animate">Debug<i class="fa fa-cog float-right"></i></li>
            </ul>
        </dropdown>
    </div>
</body>
</html>