<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>CSS3鼠标点击弹出垂直二级下拉菜单 - xw素材网</title>

    <link rel="stylesheet" href="{:C('APP_ROOT')}/reset.css" type="text/css">

    <link rel="stylesheet" href="{:C('APP_ROOT')}/style.css" media="screen" type="text/css">

</head>

<body>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<dropdown>
    <input id="toggle1" type="checkbox">
    <label for="toggle1" class="animate">Editor<i class="fa fa-list float-right"></i></label>
    <ul class="animate">
        <li class="animate">Source<i class="fa fa-code float-right"></i></li>
        <li class="animate">Fullpage<i class="fa fa-arrows-alt float-right"></i></li>
        <li class="animate">Debug<i class="fa fa-cog float-right"></i></li>
    </ul>

</dropdown>

</body>

</html>