body{
    background-color: dimgrey;
    padding:0;
    margin:0 auto;
}

.div11
{
    width:200px;
    height:100px;
    background-color: cornflowerblue;
}

h5
{
    text-align:center;
    margin-right:0;
    margin-left:0;
}

button
{
    margin-right: 500px;
    margin-left: 500px;
}

/*.div1*/
/*{*/
    /*background-color: deepskyblue;*/
/*}*/

