<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/welcome.js"></script>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/welcome.css">
    <title>cz1996</title>
</head>
<body>
    <!--<form style="margin-top:500px;margin-left:600px;">-->
    <div style="text-align:center;width:100%;height:200px;background-color: darkgray">
        <span style="font-size:50px;" class="span_welcome"><b style="text-align:center;margin-top: 100px;">欢迎进入重庆大学图书交易系统</b></span>
    </div>
    <!--<span style="font-size:50px;text-align:center;" class="span_welcome"><b style="text-align:center;">欢迎进入重庆大学图书交易系统</b></span>-->
    <form class="form_welcome" align="center">
    <b>用户：</b>
    <input type="text" name="user" class="input_welcome" placeholder="请输入用户名"><br/>
    <b>密码：</b>
    <input type="password" name="password" class="output_welcome" placeholder="请输入密码">
    </form>
    <br/>
    <button type="button" align="center" class="button_welcome" onclick="click_welcome()"><b>登陆</b></button>
    <!--<input type="button" name="btn" value="跳转" onclick="javascript:location.href='../Customer/test1.html'" class="button_welcome">-->
</body>
</html>