<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/index.css">
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/login.css">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/index.js"></script>
    <!--<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/55/sjckzedf/jquery-1.8.0.min.js"></script>-->
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $('.theme-login').click(function(){
                $('.theme-popover-mask').fadeIn(100);
                $('.theme-popover').slideDown(200);
            })
            $('.theme-poptit .close').click(function(){
                $('.theme-popover-mask').fadeOut(100);
                $('.theme-popover').slideUp(200);
            })

        })
    </script>
    <title>321 BK House</title>
</head>
<body>
    <!--{$result.name}&#45;&#45;{$result.writer}-->
    <!--{$result.name};-->
    <div id="header">
        <div>
        <h1  style="margin-top: 50px;">321 BK House</h1>
        </div>

    </div>
    <div id = "index-body" style="background-image:url({:C('PCZ_ROOT')}/cc1.jpg);background-position:center; background-repeat:repeat-x ;height: 800px;background-size: 100% 100%;">
        <div class="theme-buy" style="height: 500px;width: 100%;">
            <a class="index-btn btn-primary btn-large theme-login" href="javascript:;" style ="margin-top: 10%;">点击登陆</a>
            <a class="index-btn" href="welcomePage.html" style ="margin-top: 10%;background-color: #1ABC9C">点击注册</a>
        </div>
        <div class="theme-popover">
            <div class="theme-poptit">
                <a href="javascript:;" title="关闭" class="close">×</a>
                <h3>登录是一种态度</h3>
            </div>
            <div class="theme-popbod dform">
                <form class="theme-signin" action="login" method="post">
                    <ol>
                        <li><h4>你必须先登录！</h4></li>
                        <li><strong>用户名：</strong><input class="ipt" type="text" name="log" value="2014" size="20" /></li>
                        <li><strong>密码：</strong><input class="ipt" type="password" name="pwd" value="123" size="20" /></li>
                        <li><h5 id = "index-wrong">*用户名或者密码错误请重新输入</h5></li>
                        <li><input class="btn btn-primary" type="submit" value=" 登 录 "/></li>
                    </ol>
                </form>
            </div>
        </div>
    </div>

    <div id="footer">
            Copyright 321BKHouse.co 2016
    </div>
</body>
</html>