<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/index.css">
    <title>Index-321BKHouse</title>
</head>
<body>
    <!--{$result.name}&#45;&#45;{$result.writer}-->
    <!--{$result.name};-->
    <div id="header">
        <h1>321 BK House</h1>
    </div>
    <!--<div id="nav">
        我的购物车<br />
        我的账户<br />
        本月热销<br />
        编辑推荐<br />
    </div>-->

    <div id="mainbody">
        <div id="blockbook">
            <a href="http://localhost/BookTradingSystem/Home/Index/cztest1.html"><b>点击跳转登录界面</b></a>
        </div>
        <div id="blockbook">
            <a href="http://localhost/BookTradingSystem/Home/Index/cztest1.html"><b>点击跳转登录界面</b></a>
        </div>
        <div id="blockbook">
            <a href="http://localhost/BookTradingSystem/Home/Index/cztest1.html"><b>点击跳转登录界面</b></a>
        </div>
    </div>

    <div id="footer">
        Copyright 321BKHouse.co 2016
    </div>
</body>
</html>