<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/welcome.js"></script>
    <script type="text/javascript" src = "{:C('ACZ_ROOT')}/info.js"></script>
    <link rel="stylesheet" type="text/css" href="{:C('APP_ROOT')}/welcome.css">
    <title>注册页</title>
</head>
<body>
    <div id="header">
        <div style="margin-top: 30px;font-size: 80px;" align="center">321 BK House</div>
    </div>
    <div>
        <div style="width: 100%;height: 200px;background-color: white;"></div>
        <div style="width: 100%;height: 150px;background-color: white;"></div>
    </div>
    <form class="form_welcome" id="log" align="center" method="post">
        用户：
        <input type="text" name="user" class="input_welcome" placeholder="请输入用户名" style="margin-left: 50px;"><br/>
        姓名：
        <input type="text" name="username" class="input_welcome" placeholder="请输入用户姓名" style="margin-left: 50px;"><br/>
        密码：
        <input type="password" name="password" id = "pw1" class="output_welcome" placeholder="请输入密码" style="margin-left: 50px;"><br/>
        确认密码：&nbsp&nbsp
        <input type="password" name="password" id = "pw2" class="output_welcome" placeholder="请确认密码" onblur="check()"><br/>
        <span id="waring"></span><br/>
        <input type="submit" id="ipt" class = "button_welcome" value="注册" style="margin-left:0px;" onclick="displ()">
    </form>
    <div id="footer" style="margin-top: 160px;">
        Copyright 321BKHouse.co 2016
    </div>
</body>
</html>